<div class="main">

  <div class="navbar">
    <div class="menu"
         *ngFor="let menu of menuItem">{{menu}}
    </div>
  </div>

  <div class="content">
    <div class="left-bar">
      <div class="left-menu"
           *ngFor="let menu of menuItem">{{menu}}
      </div>
    </div>
    <div class="show-user">
      <div>1</div>
      <div>2</div>
      <div>3</div>
      <div>4</div>
    </div>
  </div>

</div>
<!--
<div class="navbar">
  <div class="menu"
       *ngFor="let menu of menuItem">{{menu}}
  </div>
</div>
<div class="left-bar">
  <div class="left-menu"
       *ngFor="let menu of menuItem">{{menu}}
  </div>
</div>
<div class="content">
  <div>1</div>
  <div>2</div>
  <div>3</div>
  <div>4</div>
</div> -->
